<div class="logos_megamenu">
    <div class="logos_megamenu_wrap">
          {% if block.settings.megamenu_img1 != blank %}
          <div class="logo_megamenu_block">
            <figure>
              <img src="{{ block.settings.megamenu_img1 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img1.width }}" height="{{ block.settings.megamenu_img1.height }}">
            </figure>
            {% if block.settings.megamenu_txt1 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt1 }}</span>{% endif %}
            {% if block.settings.megamenu_url1 != blank %}<a href="{{ block.settings.megamenu_url1 }}" target="_blank"></a>{% endif %}
          </div>
          {% endif %}
          {% if block.settings.megamenu_img2 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img2 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img2.width }}" height="{{ block.settings.megamenu_img2.height }}">
          </figure>
          {% if block.settings.megamenu_txt2 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt2 }}</span>{% endif %}
          {% if block.settings.megamenu_url2 != blank %}<a href="{{ block.settings.megamenu_url2 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
        {% if block.settings.megamenu_img3 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img3 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img3.width }}" height="{{ block.settings.megamenu_img3.height }}">
          </figure>
          {% if block.settings.megamenu_txt3 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt3 }}</span>{% endif %}
          {% if block.settings.megamenu_url3 != blank %}<a href="{{ block.settings.megamenu_url3 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
        {% if block.settings.megamenu_img4 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img4 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img4.width }}" height="{{ block.settings.megamenu_img4.height }}">
          </figure>
          {% if block.settings.megamenu_txt4 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt4 }}</span>{% endif %}
          {% if block.settings.megamenu_url4 != blank %}<a href="{{ block.settings.megamenu_url4 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
        {% if block.settings.megamenu_img5 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img5 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img5.width }}" height="{{ block.settings.megamenu_img5.height }}">
          </figure>
          {% if block.settings.megamenu_txt5 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt5 }}</span>{% endif %}
          {% if block.settings.megamenu_url5 != blank %}<a href="{{ block.settings.megamenu_url5 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
        {% if block.settings.megamenu_img6 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img6 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img6.width }}" height="{{ block.settings.megamenu_img6.height }}">
          </figure>
          {% if block.settings.megamenu_txt6 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt6 }}</span>{% endif %}
          {% if block.settings.megamenu_url6 != blank %}<a href="{{ block.settings.megamenu_url6 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
        {% if block.settings.megamenu_img7 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img7 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img7.width }}" height="{{ block.settings.megamenu_img7.height }}">
          </figure>
          {% if block.settings.megamenu_txt7 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt7 }}</span>{% endif %}
          {% if block.settings.megamenu_url7 != blank %}<a href="{{ block.settings.megamenu_url7 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
        {% if block.settings.megamenu_img8 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img8 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img8.width }}" height="{{ block.settings.megamenu_img8.height }}">
          </figure>
          {% if block.settings.megamenu_txt8 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt8 }}</span>{% endif %}
          {% if block.settings.megamenu_url8 != blank %}<a href="{{ block.settings.megamenu_url8 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
          
          {% if block.settings.megamenu_img9 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img9 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img9.width }}" height="{{ block.settings.megamenu_img9.height }}">
          </figure>
          {% if block.settings.megamenu_txt9 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt9 }}</span>{% endif %}
          {% if block.settings.megamenu_url9 != blank %}<a href="{{ block.settings.megamenu_url9 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
          
          {% if block.settings.megamenu_img10 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img10 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img10.width }}" height="{{ block.settings.megamenu_img10.height }}">
          </figure>
          {% if block.settings.megamenu_txt10 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt10 }}</span>{% endif %}
          {% if block.settings.megamenu_url10 != blank %}<a href="{{ block.settings.megamenu_url10 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
          
          {% if block.settings.megamenu_img11 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img11 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img11.width }}" height="{{ block.settings.megamenu_img11.height }}">
          </figure>
          {% if block.settings.megamenu_txt11 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt11 }}</span>{% endif %}
          {% if block.settings.megamenu_url11 != blank %}<a href="{{ block.settings.megamenu_url11 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
          
          {% if block.settings.megamenu_img12 != blank %}
        <div class="logo_megamenu_block">
          <figure>
            <img src="{{ block.settings.megamenu_img12 | img_url:'250x' }}" loading="lazy" width="{{ block.settings.megamenu_img12.width }}" height="{{ block.settings.megamenu_img12.height }}">
          </figure>
          {% if block.settings.megamenu_txt12 != blank %}<span class="logo_megamenu_caption">{{ block.settings.megamenu_txt12 }}</span>{% endif %}
          {% if block.settings.megamenu_url12 != blank %}<a href="{{ block.settings.megamenu_url12 }}" target="_blank"></a>{% endif %}
        </div>
        {% endif %}
          
      </div>
</div>