<link rel="stylesheet" href="{{ 'component-card.min.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.min.css' | asset_url }}" media="print" onload="this.media='all'">
<style>
  .custom-featured-blog{padding:0 0 50px}
  .custom-featured-blog .page-width{max-width:calc(var(--page-width) + 40px);padding:0 90px;}
  .custom-featured-blog .custom-featured-blog-head{text-align: center;max-width: 1000px;margin: 0 auto 25px;}
  .custom-featured-blog .custom-featured-blog-head .subhead{margin:0 auto 10px;padding:9px 30px}
  .custom-featured-blog .custom-featured-blog-head .head{font-size:60px;margin:0 0 30px}

  .custom-featured-blog .custom-featured-blog-btn{text-align:center;padding:10px 0}
  .custom-featured-blog .custom-featured-blog-btn a.button{padding: 25px 70px;border-radius: 68px;font-weight:600}

  .custom-featured-blog .custom-featured-blog-main .owl-nav button{border:2px solid #cccccc !important;}
  .custom-featured-blog .custom-featured-blog-main .owl-nav button svg{color:#cccccc;}
  .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-prev{left:-75px;}
  .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-next{right:-75px;}
  

   @media(max-width:1600px){
    
    .custom-featured-blog{padding:50px 0}
    .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-prev{left:-70px;}
    .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-next{right:-70px;}
  }
  @media(max-width:1200px){
    .custom-featured-blog .custom-featured-blog-head .head{font-size:50px;}
    .custom-featured-blog .custom-featured-blog-btn a.button{padding:15px 25px;}
  }
  @media(max-width:991px){
    
    .custom-featured-blog .page-width{max-width:var(--page-width);padding:0 55px;}
    .custom-featured-blog .custom-featured-blog-head .head{font-size:40px;line-height:40px;}
    
      .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-prev{left:-45px;}
    .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-next{right:-45px;}
  }
  @media(max-width:767px){
    .custom-featured-blog .custom-featured-blog-head .head{font-size:25px;}
    
    }
    @media(max-width:575px){
    .custom-featured-blog .custom-featured-blog-head .head{font-size:22px;}
    .custom-featured-blog .page-width{padding:0 15px;}
    .custom-featured-blog .custom-featured-blog-main{padding:0 35px;}
    
    .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-prev{left:-10px;}
    .custom-featured-blog .custom-featured-blog-main .owl-nav button.owl-next{right:-10px;}
    }
  
</style>


<section class="custom-featured-blog" id="custom-featured-blog-{{ section.id }}">
<div class="page-width">
  <div class="custom-featured-blog-head">
  {% if section.settings.subhead != blank %}
          <h4 class="subhead">{{ section.settings.subhead }}</h4>
          {% endif %}
          {% if section.settings.head != blank %}
          <h1 class="head">{{ section.settings.head }}</h1>
          {% endif %}
  </div>
  <div class="custom-featured-blog-main owl-carousel">
    {%- for article in section.settings.blog.articles limit: 8 -%}
            <div class="blog__post-slide">
              {% render 'article-card', blog: section.settings.blog,
              article: article, 
              media_aspect_ratio: 1.35, 
              show_image: true,
              show_date: true,
              show_short_title:true,
              show_author: false,
              show_excerpt: true %}
            </div>
    {% endfor %}
  </div>
  {% if section.settings.btn != blank and section.settings.url != blank %}
<div class="custom-featured-blog-btn">
        <a href="{{ section.settings.url }}" class="button btn_blue">{{ section.settings.btn }}</a>
</div>
    {% endif %}
</div>
</section>

{% schema %}
  {
    "name": "Featured Blog2",
    "settings": [
    {
          "type":"text",
            "id":"subhead",
              "label":"Sub Heading"
        },
        {
          "type":"text",
            "id":"head",
              "label":"Heading"
        },
        {
          "type":"blog",
            "id":"blog",
              "label":"Blog"
        },
        {
          "type":"text",
            "id":"btn",
              "label":"Button Label"
        },
        {
          "type":"url",
            "id":"url",
              "label":"Url to Navigate"
        }
    ],
    "presets":[
    {
    "name":"Featured Blog2"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}